services:
  frontend:
    image: penpotapp/frontend
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
      - catalogue   
      - user
      - cart
      - shipping
      - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # if network not created priviously it will create, if true already created one only we have to use

